.bottom-button {
    position: fixed;
    visibility: hidden;
    opacity: 0;
    right: 15px;
    bottom: 15px;
    z-index: 996;
    row-gap: 5px;
    transition: all 0.3s;
}

.bottom-button.active {
    visibility: visible;
    opacity: 1;
}

.whatsapp-button {
    background-color: #25d366;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    text-decoration: none;
    transition: all 0.4s;
    color: #fff;
}

.whatsapp-button:hover {
    background-color: #128c7e;
    color: #fff;
}

.btn-profile {
    font-family: "Poppins", sans-serif;
    background-color: #f06404;
    border-radius: 10px;
    font-size: 0.9rem;
    color: #fff;
    transition: background-color 0.3s, color 0.3s;
}

.btn-profile:hover {
    background: #fff;
    color: #f06404;
    text-decoration: none;
    border: 2px solid #ef6603;
}

.order-button {
    font-family: "Raleway", sans-serif;
    background-color: #f06404;
    font-weight: 500;
    font-size: 14px;
    letter-spacing: 1px;
    display: inline-block;
    padding: 12px 32px;
    border-radius: 50px;
    transition: 0.5s;
    line-height: 1;
    margin: 10px;
    color: #fff;
    display: inline-block;
    text-decoration: none;
    transition: background-color 0.3s, color 0.3s;
}

.order-button:hover {
    background: #fff;
    color: #f06404;
    text-decoration: none;
    border: 2px solid #ef6603;
}

#profile .box {
    padding: 30px;
    position: relative;
    overflow: hidden;
    border-radius: 10px;
    background: #fff;
    width: 100%;
    height: 100%;
}

#profile .profile-box {
    box-shadow: 0 10px 55px 0 rgba(52, 62, 90, 0.12);
    transition: all 0.4s ease-in-out;
}

#profile .profile-box:hover {
    transform: translateY(-10px);
    box-shadow: 0 2px 35px 0 rgba(68, 88, 144, 0.2);
}

#notif .notif-box {
    width: 100%;
    background-color: #fffff;
    box-shadow: 0 10px 55px 0 rgba(52, 62, 90, 0.12);
    transition: all 0.4s ease-in-out;
}

#notif .notif-box:hover {
    transform: translateY(-5px);
    box-shadow: 0 2px 35px 0 rgba(68, 88, 144, 0.2);
}

#notif .box {
    background-color: #ffffff;
    width: 100%;
    height: 100%;
}

#hero .carousel-image-container {
    position: relative;
    width: 100vw;
    overflow: hidden;
}

#hero .carousel-image-container img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: brightness(45%);
}

#form .bg {
    top: -50%;
    left: -50%;
    width: 200%;
    height: 200%;
}

#form .bg-img {
    filter: grayscale(100%) saturate(0%);
    -webkit-filter: grayscale(100%) saturate(0%);
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    min-width: 50%;
    min-height: 50%;
}

#form .card-form {
    margin-top: 16vh !important;
    background-color: #ef6603;
}

#form .card-input {
    min-width: 95%;
}
